# 1. What's python

### Introduction to interpreted language

## 1-1. Math Handling

In [106]:
# -*- coding: utf-8 -*-
#here's an example for single data swaping

a, b = 2, 3
print(a, b)

a, b = b, a
print(a, b)

2 3
3 2

# 2. Basic Syntax

## 2-1. Numeric Type: int/float/complex

In [108]:
a1 = 27
type(a1)

int

In [109]:
a2 = 9.0
type(a2)

float

In [110]:
a3 = 2.0 + 3j
type(a3)

complex

## 2-2. Arithmetic Operator

In [111]:
print(1 + 2.0)

3.0

In [112]:
print(9 - 3)

6

In [113]:
print(3 * 3)

9

In [114]:
print(2 ** 3) #exponentiation

8

In [115]:
print(30 / 3)

10.0

In [116]:
print(31 // 3) #integer division

10

In [117]:
print(5 % 2) #remainder

1

## 2-3. Logic Type: Boolean/Relational Operator

In [118]:
True

True

In [119]:
False

False

In [120]:
not True

False

In [121]:
True or False

True

In [122]:
True and False

False

In [123]:
10 > 9

True

In [124]:
11 >= 10

True

In [125]:
1 < 2

True

In [126]:
2 <= 2

True

In [127]:
1 == 2

False

In [128]:
3 != 4

True

## 2-4. Compound Data Type: List

### 2-4-1. List contains Number

In [6]:
num_list = [1,2,3]
type(num_list)

list

In [7]:
num_list[1] #index start from 0

2

In [8]:
num_list[3] #example of exceed range of list

IndexError: list index out of range

### 2-4-2. List contains String

In [12]:
str_list = ['This','','is','','s','t','r'] # String List contains space ''
print(str_list)

['This', '', 'is', '', 's', 't', 'r']

In [13]:
str_list[0]

'This'

### 2-4-3. List contains Number & String

In [2]:
c1 = ['Kevin', 10]
c2 = ['Jonny', 15]
c3 = ['Kate', 20]
com_list = [c1, c2, c3] #list in list
print(com_list)

[['Kevin', 10], ['Jonny', 15], ['Kate', 20]]

In [3]:
com_list[1][0]

'Jonny'

### 2-4-4. Operation

In [16]:
a1 = [1, 4, 8]
len(a1) # length of list

3

In [17]:
min(a1) # smallest value in the list

1

In [18]:
max(a1) # biggest value in the list

8

In [21]:
a2 = [2, 5, 7]
a3 = a1 + a2 # list concatenation
print(a3)

[1, 4, 8, 2, 5, 7]

In [24]:
a1*2 # list repetition

[1, 4, 8, 1, 4, 8]

In [7]:
a1 = [2, 1, 3, 6, 3]
a2 = a1[1:10] # a2 = a1's index 1, ....10
print(a2)

[1, 3, 6, 3]

In [9]:
a1 = [2, 1, 3, 6, 3]
a2 = a1[0:3:2] # a2 = a1's index 0, 3 
print(a2)

[2, 3]

In [13]:
a1 = [2, 1, 3, 6, 3]
del a1[0:3] # delete the value on index 0~3 of list a1
print(a1)

[6, 3]

In [26]:
a1 = [1,2,3,4,5,6,7,8,9,10]
del a1[0::2] # delete the value 
print(a1)

[2, 4, 6, 8, 10]

### 2-4-5. Operating Function

#### Append

In [35]:
a1 = [1, 3, 5]
a2 = [2, 4, 6]
a1.append(a2) #Append
print(a1)

[1, 3, 5, [2, 4, 6]]

#### Extend

In [36]:
a1 = [1, 3, 5]
a2 = [2, 4, 6]
a1.extend(a2) # Extend
print(a1)

[1, 3, 5, 2, 4, 6]

#### Pop

In [37]:
a3 = [1, 3, 5]
a3.pop() # pop the last index value
print(a3)

[1, 3]

In [38]:
a3 = [1, 3, 5]
a3.pop(0) # pop the first index value
print(a3)

[3, 5]

#### Insert

In [39]:
a3 = [1, 3, 5]
a3.insert(0, 2) # insert 2 to the first index value
print(a3)

[2, 1, 3, 5]

#### index & count

In [41]:
a3 = [1, 3, 5, 5, 5]
a3.index(5) # Return the first index of the input value

2

In [42]:
a3 = [1, 3, 5, 5, 5]
a3.count(5) # Return the total number of the input value in the list

3

#### Remove

In [45]:
a3 = [1, 3, 5, 5, 5]
a3.remove(5) # Remove one of the 5
print(a3)

[1, 3, 5, 5]

#### Reverse

In [47]:
a3 = [1, 3, 5, 5, 5]
a3.reverse()
print(a3)

[5, 5, 5, 3, 1]

#### Sort

In [36]:
a3 = [8, 5, 2, 4, 1, 6, 9]
a3.sort() # sort the list
print(a3)

[1, 2, 4, 5, 6, 8, 9]

## 2-5. Compound Data Type: Tuple

In [37]:
a1 = (1,3,4)
tuple(a1)
type(a1)

tuple

In [39]:
a1.pop(0) # tuple is immutable

AttributeError: 'tuple' object has no attribute 'pop'

In [40]:
a1[1]

3

## 2-6. Compound Data Type: Dict

In [41]:
grade = {}
grade['Isaac'] = 98
grade['Kevin'] = 87
grade['Cindy'] = 78
type(grade)

dict

In [42]:
print(grade)

{'Isaac': 98, 'Kevin': 87, 'Cindy': 78}

In [45]:
grade.clear() # clear all data inside the dict
print(grade)

{}

In [46]:
grade = {}
grade['Isaac'] = 98
grade['Kevin'] = 87
grade['Cindy'] = 78
grade2 = grade.copy() # copy grade to grade2
print(grade2)

{'Isaac': 98, 'Kevin': 87, 'Cindy': 78}

In [50]:
grade2.items() # return all dict contents as a list of (key, value)

dict_items([('Isaac', 98), ('Kevin', 87), ('Cindy', 78)])

In [51]:
grade2.keys() # return keys

dict_keys(['Isaac', 'Kevin', 'Cindy'])

In [52]:
grade2.values()

dict_values([98, 87, 78])

## 2-7. Compound Data Type: Set

In [53]:
a1 = {}
type(a1)

dict

In [54]:
a2 = {1, 2, 3}
type(a2)

set

In [55]:
a1 = {2, 4, 6}
a2 = {1, 2, 3}
a1 & a2 # AND

{2}

In [57]:
a1 | a2 # OR

{1, 2, 3, 4, 6}

In [56]:
a1 ^ a2 # XOR

{1, 3, 4, 6}

# 3. Compound Statements

## 3-1. if/elif/else

In [ ]:
# _*_ coding: utf-8 _*_
#here's an example of if/elif/else

score = int(input("Please input your score(0~100):"))

if score >= 90:
    print("Excellent")
elif score >= 60:
    print("passed")
else:
    print("Failed")

## 3-2. for / range

In [ ]:
# _*_ coding: utf-8 _*_
#here's a combination example of for and range

for i in range(1,10):
    for j in range(1,10):
        k = i*j
        #use format function to put i,j,k value on {} in order 
        print('{}X{}={}\t'.format(i,j,k),end='')

## 3-2. for / enumerate

In [ ]:
# _*_ coding: utf-8 _*_
#here's a combination example of for and enumerate

for i, j in enumerate('python'):
    print(i, j)

## 3-3. while / break

In [ ]:
# _*_ coding: utf-8 _*_
#here's an example for designing a game in using while and break.
#game of guessing number on a dice:

import random

while True:
    guess_ct = 0
    
    #give dice a value from 1 to 6
    dice = random.randint(1,6)

    while True:
        #keyin a number
        guess_num = int(input("Guess the dice number ："))
        guess_ct += 1
        
        if guess_num == dice:
            print("Good Guess!")
            print("You've guessed " + str(guess_ct) + " times")
            
            #jump out the loop
            break;
        
        elif guess_num > dice:
            print("Make it smaller")
        else:
            print("Make it bigger")
    break;

## 3-4. try/except

In [ ]:
# _*_ coding: utf-8 _*_
#here's an example of try and exception based on #3-3 while example.

import random

while True:
    guess_ct = 0
    
    #give dice a value from 1 to 6
    dice = random.randint(1,6)

    while True:
        #keyin a number
        #use try and exception to check input value
        try:
            guess_num = int(input("Guess the dice number ："))
            guess_ct += 1
        except:
            print("please enter a number.")
        
        if guess_num == dice:
            print("Good Guess!")
            print("You've guessed " + str(guess_ct) + " times")
            
            #jump out the loop
            break;
        
        elif guess_num > dice:
            print("Make it smaller")
        else:
            print("Make it bigger")
    break;

# 4. Modules

## 4-1. Define function

In [ ]:
# _*_ coding: utf-8 _*_
#here's an example for how to define a function

#define a function "addn" which has two inputs x,y
def addn(x, y):
    global g
    z = x + y
    g = x + y
    print("Step2. In the defined function: (z={}, g={})".format(z,g))
    return z

z = 100
g = 200
print("Step1. Before calling the defined function: (z={}, g={})".format(z,g))

#give function addn two inputs 1,3 and execute the function
print("Step3. {} + {} = {}".format(1, 3, addn(1, 3)))


print("Step4. After calling the defined function: (z={}, g={})".format(z,g))

## 4-2. Import Module

In [ ]:
# -*- coding: utf-8 -*-
#here's an example for how easily python using function in other modules

import random

lunch = ['KFC','Subway','BurgerKing','Din Tai Fung']
print("Today's Lunch is: " + random.choice(lunch))

## 4-3. Create Module

In [ ]:
# _*_ coding: utf-8 _*_
#here's an example for how to create a module and import

from module_diy import addn_m
a = 1
b = 2

#calling a function "addn" inside the addn_m module with two inputs a,b
s = addn_m.addn(a,b)
print (s)

# 5. Input & Output

## 5-1. Input by key-in & Operating text file

In [ ]:
# _*_ coding: utf-8 _*_
#here's an example of input value by key-in and open file.

index = int(input("Please enter whict poem to show [0:1st, else:2nd]："))

#0 for 1st txt, else for 2nd txt.
if index ==0:
    print("Open 1st txt")
    fp = open("poem_001.txt", "r") #open the text file for reading only
else:
    print("Open 2nd txt")
    fp = open("poem_002.txt", "r")

print(fp.read()) #print out what we put in the fp.

## 5-2. Operating CSV file

In [ ]:
# _*_ coding: utf-8 _*_
#here's an example of how to use CSV file.

import csv

#open exist CSV file
csvfile = open('csv_example.csv', 'r')
print(csvfile.read())
csvfile.close()

## 5-3. Operating Json file

In [ ]:
# _*_ coding: utf-8 _*_
#here's an example of how to use Json file.

import json, datetime

fp = open('earthquake.json','r')
earthquakes = json.load(fp)

print("earthquake information：")
for eq in earthquakes['features']:
    print("place:{}".format(eq['properties']['place']))
    print("magnitude:{}".format(eq['properties']['mag']))
    et = float(eq['properties']['time']) /1000.0
    print("time:{}".format(et))

# 6. Data Handling: Numpy

## 6-1. First thing first: Import Numpy module

In [2]:
import numpy as np

## 6-2. Creating Array

In [14]:
# 1 Dimension array
a = np.array([1, 2, 3, 4])
b = np.array((5, 6, 7, 8))
c = np.arange(4) # given number from 0~3
d = np.linspace(0, 2*np.pi, 5) # given 5 value start from 0 in steps: 2pi

print(a) 
print(b) 
print(c) 
print(d)

[1 2 3 4]
[5 6 7 8]
[0 1 2 3]
[ 0.          1.57079633  3.14159265  4.71238898  6.28318531]

In [15]:
# Multidimension Array
e = np.array([[11, 12, 13, 14, 15],
              [16, 17, 18, 19, 20]])
print(e)

[[11 12 13 14 15]
 [16 17 18 19 20]]

In [27]:
# Array with all 1
np.ones((2,3))

array([[ 1.,  1.,  1.],
       [ 1.,  1.,  1.]])

In [29]:
# Array with all 0
np.zeros((2,3))

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])

In [36]:
# Array with diagonal value all be 1
np.eye(3,3)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

In [37]:
# Array with diagonal value all be 1
np.identity(3)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

## 6-3. Array Arithmetic Operation

In [5]:
a = [1,2,3,4] # array v.s list
a + 1

TypeError: can only concatenate list (not "int") to list

In [6]:
type(a)

list

In [7]:
a = np.array(a) # transfer a from list into array
print(a)

[1 2 3 4]

In [8]:
type(a) # check the type of the a

numpy.ndarray

In [9]:
a + 1 # all elements in array 'a' + 1

array([2, 3, 4, 5])

In [10]:
b = np.array([5,5,5,5]) # create array b

In [11]:
np.add(a,b) # a + b

array([6, 7, 8, 9])

In [12]:
np.subtract(a,b) # a - b

array([-4, -3, -2, -1])

In [13]:
np.multiply(a,b) # a * b

array([ 5, 10, 15, 20])

In [14]:
np.divide(a,b) # a / b

array([ 0.2,  0.4,  0.6,  0.8])

In [15]:
# create a 2D matrix 
a = np.array([
    [1,2,3,4],
    [5,6,7,8]
])
print(a)

[[1 2 3 4]
 [5 6 7 8]]

In [16]:
# get all elements' sum
np.sum(a) # = 1+2+3+4+5+6+7+8

36

In [17]:
# axis=0 refers to the first index coordinate
np.sum(a, axis=0) # = [1+5, 2+6, 3+7, 4+8]

array([ 6,  8, 10, 12])

In [18]:
# axis=1 refers to the second.
np.sum(a, axis=1) # = [1+2+3+4, 5+6+7+8]

array([10, 26])

In [19]:
# elements production
np.prod(a, axis=0) # = [1*5, 2*6, 3*7, 4*8]

array([ 5, 12, 21, 32])

In [20]:
# a cumulative sum is a sequence of partial sums of a given sequence
np.cumsum(a) # = [1, 1+2, 1+2+3,...]

array([ 1,  3,  6, 10, 15, 21, 28, 36])

In [21]:
np.cumsum(a, axis=0) # = [ [1, 2, 3, 4], [1+5, 2+6, 3+7, 4+8] ]

array([[ 1,  2,  3,  4],
       [ 6,  8, 10, 12]])

In [22]:
np.cumsum(a, axis=1) # = [ [1, 1+2, 1+2+3, 1+2+3+4], [5, 5+6, 5+6+7, 5+6+7+8] ]

array([[ 1,  3,  6, 10],
       [ 5, 11, 18, 26]])

In [23]:
np.cumprod(a, axis=0)# = [[1, 2, 3, 4], [5*1, 6*2, 7*3, 8*4] ]

array([[ 1,  2,  3,  4],
       [ 5, 12, 21, 32]])

In [24]:
# find the minimum value of the matrix
np.min(a)

1

In [25]:
# find the maximum value of the matrix
np.max(a)

8

In [26]:
# find the average value of the matrix
np.mean(a)

4.5

In [27]:
# get the index of the minimum value
np.argmin(a)

0

In [33]:
# get the standard deviation
np.std(a)

2.2912878474779199

In [34]:
# get the variance 
np.var(a)

5.25

## 6-4. Array Properties

In [183]:
a = np.array((1,2,3,4))

In [55]:
type(a)

numpy.ndarray

In [56]:
a.dtype # each elements takes 64bits

dtype('int64')

In [57]:
a.size # the number of elements in array a

4

In [60]:
a.ndim # 1 dimension

1

In [61]:
a.nbytes # 4*64/8 = 32 bytes the total bytes the array a will occupy in the memory

32

## 6-5. Array Shaping

In [48]:
a = np.arange(20)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [49]:
a.shape # the shape of matrix a

(20,)

In [60]:
b = np.array(a)
b.shape = 5,2,2
b

array([[[ 0,  1],
        [ 2,  3]],

       [[ 4,  5],
        [ 6,  7]],

       [[ 8,  9],
        [10, 11]],

       [[12, 13],
        [14, 15]],

       [[16, 17],
        [18, 19]]])

In [58]:
b.reshape((4,5)) # reshape will not alter the value of the array

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [61]:
b.transpose()

array([[[ 0,  4,  8, 12, 16],
        [ 2,  6, 10, 14, 18]],

       [[ 1,  5,  9, 13, 17],
        [ 3,  7, 11, 15, 19]]])

In [77]:
# newaxis: add a new dimension on Matrix
import numpy as np
a = np.arange(3) # a = [0,1,2]
print(a)

[0 1 2]

In [75]:
a.shape # = (3,)

(3,)

In [73]:
b = a[:, np.newaxis]
print(b)

[[0]
 [1]
 [2]]

In [74]:
b.shape

(3, 1)

In [82]:
# squeeze: opposite to newaxis
c = np.squeeze(b)
print(c)

[0 1 2]

In [83]:
c.shape

(3,)

In [103]:
# concatenate
a = np.arange(4).reshape(2,2)
print(a)

[[0 1]
 [2 3]]

In [105]:
a.shape

(2, 2)

In [107]:
b = np.concatenate((a,a))
print(b)

[[0 1]
 [2 3]
 [0 1]
 [2 3]]

In [106]:
b.shape

(4, 2)

In [122]:
# flatten: array collapsed into one dimension
a = np.arange(20).reshape(4,5)
b = a.flatten()
b

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [121]:
b.shape

(20,)

## 6-6. Array Indexing

In [82]:
a = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])
print(a)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [83]:
a[0] # get all value from row:1

array([1, 2, 3])

In [84]:
a[0,0] # get value from row:1, col:1

1

In [88]:
a[[0,1],[0,2]] # get value from [0,0]=1 and [1,2]=6

array([1, 6])

## 6-7. Array Slicing:  [start , stop , step]

### 1D Slicing : Same as list slicing

In [133]:
a = np.array([0,1,2,3,4,5])
a1 = a[1:3]
a2 = a[:3]
a3 = a[0:5:2]

print(a1)
print(a2)
print(a3)

[1 2]
[0 1 2]
[0 2 4]

### Multidimensional Array Slicing

In [137]:
a = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])
print(a)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [143]:
a[0:2, :]

array([[1, 2, 3],
       [4, 5, 6]])

In [151]:
a[:, 2:]

array([[3],
       [6],
       [9]])

In [155]:
a[::2, ::2]

array([[1, 3],
       [7, 9]])

In [156]:
a[:, -2:]

array([[2, 3],
       [5, 6],
       [8, 9]])

## 6-8. Advanced Operation

### Slicing + indexing

In [99]:
b = np.arange(0,100,10) # create a array from 0~100 in interval 10.
idx = [0,5,-1] # 
c = b[idx] # 
print(b)
print(c)

[ 0 10 20 30 40 50 60 70 80 90]
[ 0 50 90]

### Boolean Masking

In [160]:
import numpy as np
arr = np.array([[1, 2, 3, 4],
                [2, 4, 6, 8],
                [3, 6, 9, 12],
                [4, 8, 12, 16]
               ])
mask = arr > 5
print('boolean mask is:')
print(mask)
print(arr[mask])

boolean mask is:
[[False False False False]
 [False False  True  True]
 [False  True  True  True]
 [False  True  True  True]]
[ 6  8  6  9 12  8 12 16]

In [161]:
np.iscomplex(arr)

array([[False, False, False, False],
       [False, False, False, False],
       [False, False, False, False],
       [False, False, False, False]], dtype=bool)

In [162]:
np.isreal(arr)

array([[ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True]], dtype=bool)

In [164]:
np.isnan(arr)

array([[False, False, False, False],
       [False, False, False, False],
       [False, False, False, False],
       [False, False, False, False]], dtype=bool)

## 6-9. Math Chart plotting: Matplot

In [123]:
# -*- coding: utf-8 -*-
#here's another example to show how easily to use python to draw mathmatic charts

import numpy as np
import matplotlib.pyplot as mplt

data = np.arange(0,360)
sin_wave = np.sin( 2 * data * np.pi / 180.0)
cos_wave = np.cos( data * np.pi / 180.0)

mplt.plot(data, sin_wave, color="blue",label="SIN(2x)")
mplt.plot(data, cos_wave, color="red",label="COS(x)")

mplt.xlim(0,360)
mplt.ylim(-1.2,1.2)

mplt.xlabel("Degree")
mplt.ylabel("Value")

mplt.title("SIN & COS function")

#show the sign for sine wave and cosine wave
mplt.legend()
mplt.show()

# 7. Data Handling: Pandas

Pandas read/write file
Dataframe basic operation
Pandas statistic

In [ ]:
# _*_ coding: utf-8 _*_